{% load staticfiles %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'bhs/style.css' %}" />
<link rel="shortcut icon" type="image/png" href={% static "bhs/icons/favicon.png" %}/>

<table>
    <tr>
      <td><a href="{% url 'bhs:index' %}"><img src="{% static "bhs/icons/boinc_icon.png" %}" alt="default" style="width: 64px;" /></a></td>
      {% for proj in project_list %}
      <td style="font-size: 150%">
          <a href="{% url 'bhs:project' proj.name %}">{{proj.full_name}}</a>
      </td>
      {% endfor %}
    </tr>
</table>

